<!DOCTYPE html>
<html>
    {% extends "predictor/base.html" %}
    <head>
        <title></title>
    </head>
    <body>
        {% block content %}
          <!-- LOGIN FORM -->
            <div class="page-title">Welcome to Predictr</div>
            <hr class="hr-expanded"/>

            <div class="text-center login-form">
                <div>
                {% if form.non_field_errors %}
                  <li class="errorlist-item">{{ form.non_field_errors }}</li>
                {% endif %}
                </div>
            	<div class="login-form-1">
            		<form id="login-form" class="text-left" method="POST" action="/predictor/login/">
                        {% csrf_token %}
            			<div class="login-form-main-message"></div>
            			<div class="main-login-form">
            				<div class="login-group">
            					<div class="form-group">
            						<label for="lg_username" class="sr-only">Username</label>
            						<input type="text" class="form-control" id="lg_username" name="{{ form.username.html_name }}" value="{{ form.username.value|default_if_none:"" }}" placeholder="Username">
                                    {% for error in form.username.errors %}
                                      <li class="errorlist-item">{{ error }}</li>
                                    {% endfor %}
                                </div>
            					<div class="form-group">
            						<label for="lg_password" class="sr-only">Password</label>
            						<input type="password" class="form-control" id="lg_password" name="{{ form.password.html_name }}" value="{{ form.password.value|default_if_none:"" }}" placeholder="Password">
                                    {% for error in form.password.errors %}
                                      <li class="errorlist-item">{{ error }}</li>
                                    {% endfor %}
                                </div>
            					<div class="form-group login-group-checkbox">
            						<input type="checkbox" id="remember_me" name="remember_me">
            						<label for="remember_me">&nbsp;&nbsp;Remember Me</label>
            					</div>
                                <input type="hidden" name="next" value="{{ next }}"/>
            				</div>
                            <input type="hidden" name="next" value="{{ next }}" />
            				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
            			</div>
            			<div class="etc-login-form">
            				<!-- <p>forgot your password? <a href="#">click here</a></p> -->
            				<p>New user? <a href="/predictor/register">Create new account</a></p>
            			</div>
            		</form>
            	</div>
                <br/><br/>
            	<!-- end:Main Form -->
            </div>
        {% endblock %}
    </body>
</html>
