<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
      {% load staticfiles %}

        <head>
          <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
          <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,400,600|Raleway:200,400,600" rel="stylesheet">
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
          <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
          <link rel="stylesheet" type="text/css" href="{% static 'predictor/style.css' %}"/>
          <link rel="javascript" type="text/javascript" href="{% static 'predictor/style.js' %}">
          <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

          <title>Predictr{% block title %}{% endblock %}</title>
          <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        </head>

        <body class="{% block bodyclass %}{% endblock %}">
            {% block navbar %}
            <nav id="navigation" role="navigation" class="navbar navbar-default navbar-custom navbar-fixed-top">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle navbar-toggle-button collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/predictor/">
                    Predictr
                  </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                      <li id="nav_home" ><a href="/predictor">Home</a></li>
                      <li id="nav_predict"><a href="/predictor/predict">Predict</a></li>
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Results <b class="caret"></b></a>
                        <ul class="dropdown-menu navbar-dropdown-menu">
                            <li><a href="/predictor/gameweeks">My Gameweeks</a></li>
                            <li><a href="/predictor/leaderboard">Overall Leaderboard</a></li>
                            <li><a href="/predictor/gameweek_leaderboard/">Gameweek Leaderboard</a></li>
                        </ul>
                    </li>
                      <li id="nav_settings" class="nav"><a href="/predictor/settings/">Preferences</a></li>
                    {% endif %}
                    <li id="nav_about"><a href="/predictor/about">About</a></li>
                    {% if user.is_authenticated %}
                      <li id="nav_logout" class="nav"><a href="/predictor/logout/">Logout</a></li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </nav>
            {% endblock %}
            <div class="page-div">
              {% block content %}
               <div id="content">
               </div> <!-- end content -->
              {% endblock %}
              <br/><br/>
            </div>
            {% block footer %}
            <footer class="footer-no-nav navbar-fixed-bottom" role="contentinfo">
              <div class="container">
                  <p class="footer-text">&copy; Predictr was created by Sudeep Gowrishankar.<a href="/predictor/about/#disclaimer"> Disclaimer</a></p>
              </div>
            </footer>
          {% endblock %}
        </body>
    </html>
