<!DOCTYPE html>
<html>
  {% extends "predictor/base.html" %}
  <head>
    <title>
      {% block title %} | Home{% endblock %}
    </title>
  </head>
  <body>
    {% block content %}
      <div class="page-title">Welcome to Predictr</div>
      <hr/>
        <div>
          <div class="home-block home-next-deadline-block">
            <div>
              <div class="home-next-deadline">{{ deadline1 }} &nbsp;&nbsp;:&nbsp;&nbsp; {{ deadline2 }} {{ deadline3 }}</div>
            </div>
          </div>          
        </div>

        {% if last_gameweek_result %}
          <div class="page-subtitle">Overall</div>
          <hr class="hr-subtitle"/>
            <div class="home-block home-stats-block">
              <div class="home-stat-cell">
                <div class="home-stat-cell-heading">Players</div>
                <div class="home-stat-cell-body">{{ overall_total_players }}</div>              
              </div>
              <div class="home-stat-cell">
                <div class="home-stat-cell-heading">Rank</div>
                {% if overall_rank == 0 %}
                  <div class="home-stat-cell-body">Unranked</div>
                {% else %}
                  <div class="home-stat-cell-body">{{ overall_rank }}</div>
                {% endif %}
              </div>
              <div class="home-stat-cell">
                <div class="home-stat-cell-heading">Your Score</div>
                <div class="home-stat-cell-body">{{ overall_score }}</div>
              </div>
              <div class="home-stat-cell">
                <div class="home-stat-cell-heading">Highest Score</div>
                <div class="home-stat-cell-body">{{ overall_highest }}</div>
              </div>
              <div class="home-stat-cell">
                <div class="home-stat-cell-heading">Average Score</div>
                <div class="home-stat-cell-body">{{ overall_average}}</div>
              </div>
            </div>
          
            <div class="page-subtitle">{{ last_gameweek_result.gameweek }}</div>
            <hr class="hr-subtitle"/>

            <div class="home-block home-stats-block">
              <div class="home-stat-cell">
                <div class="home-stat-cell-heading">Players</div>
                <div class="home-stat-cell-body">{{ gameweek_players }}</div>              
              </div>
              <div class="home-stat-cell">
                <div class="home-stat-cell-heading">Rank</div>
                {% if gameweek_rank == 0 %}
                  <div class="home-stat-cell-body">Unranked</div>
                {% else %}
                  <div class="home-stat-cell-body">{{ gameweek_rank }}</div>
                {% endif %}
              </div>
              <div class="home-stat-cell">
                <div class="home-stat-cell-heading">Your Score</div>
                <div class="home-stat-cell-body">{{ gameweek_points }}</div>
              </div>
              <div class="home-stat-cell">
                <div class="home-stat-cell-heading">Highest Score</div>
                <div class="home-stat-cell-body">{{ last_gameweek_result.highest_score }}</div>
              </div>
              <div class="home-stat-cell">
                <div class="home-stat-cell-heading">Average Score</div>
                <div class="home-stat-cell-body">{{ last_gameweek_result.average_score }}</div>
              </div>
            </div>
            <div class="home-block home-stats-block">
              <div class="home-stat-cell-long">
                <div class="home-stat-cell-heading">Most Guessed Result</div>
                <div class="home-stat-cell-body-long">{{ last_gameweek_result.most_guessed_result }}</div>
              </div>
              <div class="home-stat-cell-long">
                <div class="home-stat-cell-heading">Least Guessed Result</div>
                <div class="home-stat-cell-body-long">{{ last_gameweek_result.least_guessed_result }}</div>
              </div>
            </div>

            <hr class="hr-subtitle"/>

            <div class="home-block home-summary-block">
              <div class="home-summary-title"><b>{{ last_gameweek_result.gameweek }} - {{ summary_title }}</b></div>
              <p class="home-summary-body">{{ summary_body }}</p>
            </div>

        {% else %}

          <div class="home-block home-stats-block">
            <div class="home-no-stats-message">Hi! We're glad you're playing Predictr. This is your home page where normally you'd see various statistics and summaries. For now, since we haven't completed any gameweeks, you're seeing this message. The excitement starts after the first gameweek. Till then, go ahead and make your <a href="/predictor/predict">predictions</a>.</div>
          </div>

        {% endif %}

    {% endblock %}

  </body>
</html>
