<!DOCTYPE html>
<html>
  {% extends "predictor/base.html" %}
  <head>
    <title>
      {% block title %}| Home{% endblock %}
    </title>
  </head>
  <body>
    {% block content %}
      <div style="margin:8em">
        <div style="margin-bottom:2em;">
          <h4>Welcome {{ user.first_name }}!</h4>
        </div>
        <div style="display: table; width:100%;">
          <div class="home-block home-next-deadline-block">
            <div>
              <h3>{{ deadline1 }}</h3>
              <h1>{{ deadline2 }}</h1>
              <h1>{{ deadline3 }}</h1>
            </div>
          </div>
          <div class="home-block home-position-block">
          {% if position == 0 %}
            <div>
              <h3>You are currently unranked</h3>
              <h1>Unranked</h1>
              <h2>and playing against {{ total_players }} players</h3>
            </div>
          {% else %}
            <div>
              <h3>You are currently ranked</h3>
              <h1>{{ position }}</h1>
              <h3>out of {{ total_players }} players</h3>
            </div>
          {% endif %}
          </div>
        </div>
        {% if last_gameweek_result %}
          <div class="home-block home-stats-block">
            <div class="home-stat-cell">
              <div class="home-stat-cell-heading">Highest Score</div>
              <div class="home-stat-cell-body">{{ last_gameweek_result.highest_score }}</div>
            </div>
            <div class="home-stat-cell">
              <div class="home-stat-cell-heading">Average Score</div>
              <div class="home-stat-cell-body">{{ last_gameweek_result.average_score }}</div>
            </div>
            <div class="home-stat-cell">
              <div class="home-stat-cell-heading">Most Guessed Result</div>
              <div class="home-stat-cell-body">{{ last_gameweek_result.most_guessed_result }}</div>
            </div>
            <div class="home-stat-cell">
              <div class="home-stat-cell-heading">Least Guessed Result</div>
              <div class="home-stat-cell-body">{{ last_gameweek_result.least_guessed_result }}</div>
            </div>
          </div>
          <div class="home-block home-summary-block">
            <h3>{{ last_gameweek_result.gameweek }} - {{ summary_title }}</h3><br/>
            <h4>{{ summary_body }}</h4>
          </div>
        {% else %}
          <div class="home-block home-stats-block">
            <h3 align="center">There aren't any stats to show right now, but watch this space for some insights into the game.</h3>
          </div>
          <div class="home-block home-summary-block">
            <h3>Welcome to the summary section of predictr!</h3><br/>
            <h4>Each week, we'll try to distill the happenings on the pitch as they relate to your predictions and even get some of your opinions posted in this column.</h4>
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </body>
</html>
