<!DOCTYPE html>
<html>
{% extends "predictor/base.html" %}
<head>
    <title></title>
</head>
<body>
    {% block content %}

        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <table class="login_form">
                <tr>
                    <td>USERNAME</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>PASSWORD</td>
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td><input type="hidden" name="next" value="{{ next }}" /></td>
                    <td id="login_button"><input class="button" type="submit" value="Log In" /></td>
                </tr>
           </table>
       </form>

    {% endblock %}

</body>
</html>