<!DOCTYPE html>
<html>
  {% extends "predictor/base.html" %}
  <head>
    <title>
      {% block title %}   | Leaderboard{% endblock %}
    </title>
  </head>
  <body>
    {% block content %}
      <div class="page-title">Leaders</div>
      <hr/>
      {% if leaderboard %}
        <table class="table-fill">
          <thead>
            <tr>
              <th class="text-left">Rank</th>
              <th class="text-left">Player</th>
              <th class="text-left">Points</th>
            </tr>
          </thead>
          <tbody>
              {% for leader in leaderboard %}
                <tr class="table-selectable-row">
                  {% if leader.user == user %}
                    <td class="text-left leaderboard-user-row">
                      <a href="/predictor/gameweeks/">{{ leader.rank }}</a>
                    </td>
                    <td class="text-left leaderboard-user-row">
                      <a href="/predictor/gameweeks/">{{ leader.user.first_name }} {{ leader.user.last_name }}</a>
                    </td>
                    <td class="text-left leaderboard-user-row">
                      <a href="/predictor/gameweeks/">{{ leader.total_points }}</a>
                    </td>
                  {% else %}
                    <td class="text-left">
                      <a href="/predictor/gameweeks/{{ leader.user.username }}">{{ leader.rank }}</a>
                    </td>
                    <td class="text-left">
                      <a href="/predictor/gameweeks/{{ leader.user.username }}">{{ leader.user.first_name }} {{ leader.user.last_name }}</a>
                    </td>
                    <td class="text-left">
                      <a href="/predictor/gameweeks/{{ leader.user.username }}">{{ leader.total_points }}</a>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="nothing-message">No gameweeks have been completed yet, so there is no leaderboard. But stay tuned!</div>
      {% endif %}
    {% endblock %}
  </body>
</html>
