<!DOCTYPE html>
<html>
  {% extends "predictor/base.html" %}
  <head>
    <title>
      {% block title %} | Gameweek {{ gameweek }}{% endblock %}
    </title>
  </head>
  <body>
    {% block content %}
      <div class="page-title" align="center">
        Gameweek {{ gameweek }}
      </div>
      <div class="gameweek-nav-div" align="center">
        {% if previous_gameweek > 0 %}
          <a class="gameweek-nav-prev" href="/predictor/gameweek/{{ previous_gameweek }}/{{ gameweek_user.username }}"><&nbsp;&nbsp;Last Gameweek</a>
        {% endif %}
        {% if next_gameweek > 0 %}
          {% if current_gameweek == next_gameweek and gameweek_user.username != user.username %}
          {% else %}
            <a class="gameweek-nav-next" href="/predictor/gameweek/{{ next_gameweek }}/{{ gameweek_user.username }}">Next Gameweek&nbsp;&nbsp;></a>
          {% endif %}
        {% endif %}
      </div>
      <hr class="hr-with-nav"/>
      <div class="gameweek-points">
        {% if username == gameweek_user.username %}
          {{ gameweek_user.first_name }} {{ gameweek_user.last_name }}&nbsp;&nbsp;-&nbsp;&nbsp;
        {% endif %}
        {% if gameweek_result %}
          Total Score: {{ gameweek_result.total_points }}
        {% else %}
          Total Score: {{ gameweek_provisional_points }}
        {% endif %}
      </div>
      {% if prediction_list.count == 0 %}
        <h4>There are no predictions available for this gameweek.</h4>
      {% else %}
        <table class="table-fill">
          <thead>
            <tr>
              <th class="text-left condensed">Prediction</th>
              <th class="text-left condensed">Result</th>
              <th class="text-left condensed">Points</th>
            </tr>
          </thead>
          <tbody>
            {% for prediction, prediction_result in predictions_tuples %}
              <tr class="table-selectable-row" data-toggle="collapse" data-target="#point-detail-{{prediction_result.id}}">
                <td class="text-left padded-cell-narrow">
                  <div class="team-name-small team-name-home">
                    {{ prediction.match.home_team }}
                  </div>
                  <div class="match-score-display">
                    {{ prediction.home_score }} - {{ prediction.away_score }}
                  </div>
                  <div class="team-name-small team-name-away">
                    {{ prediction.match.away_team }}
                  </div>
                  {% if prediction_result %}
                    <div id="point-detail-{{prediction_result.id}}" class="collapse">
                      <br/>
                      <table>
                        <tbody>
                          <tr>
                            <td><div class="point-detail">Result Points:</div></td>
                            <td><div class="point-detail">{% if prediction_result.result %}3{% else %}0{% endif %}</div></td>
                          </tr>
                          <tr>
                            <td><div class="point-detail">Scored Home Points: </div></td>
                            <td><div class="point-detail">{% if prediction_result.home_scored %}1{% else %}0{% endif %}</div></td>
                          </tr>
                          <tr>
                            <td><div class="point-detail">Scored Away Points: </div></td>
                            <td><div class="point-detail">{% if prediction_result.away_scored %}1{% else %}0{% endif %}</div></td>
                          </tr>
                          <tr>
                            <td><div class="point-detail">Goals Home Points: </div></td>
                            <td><div class="point-detail">{% if prediction_result.home_goals %}2{% else %}0{% endif %}</div></td>
                          </tr>
                          <tr>
                            <td><div class="point-detail">Goals Away Points: </div></td>
                            <td><div class="point-detail">{% if prediction_result.away_goals %}2{% else %}0{% endif %}</div></td>
                          </tr>
                          <tr>
                            <td><div class="point-detail">Exact Scoreline Bonus Points: </div></td>
                            <td><div class="point-detail">{% if prediction_result.scoreline %}3{% else %}0{% endif %}</div></td>
                          </tr>
                          {% if prediction.is_default %}
                            <tr>
                              <td><div class="point-detail">No Prediction Penalty: </div></td>
                              <td><div class="point-detail">{% if prediction_result.penalty_points > 0 %}-{{ prediction_result.penalty_points }}{% else %}0{% endif %}</div></td>
                            </tr>
                          {% endif %}
                        </tbody>
                      </table>
                    </div>
                  {% endif %}
                </td>
                <td class="text-center padded-cell-narrow">
                  {% if prediction_result %}
                    <div class="match-score-display">
                    {{ prediction_result.prediction.match.home_score }} - {{ prediction_result.prediction.match.away_score }}
                    </div>
                  {% endif %}
                </td>
                <td class="text-center padded-cell-narrow">
                  {% if prediction_result %}
                    <div class="prediction-score">
                      {{ prediction_result.points }}
                    </div>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    {% endblock %}
  </body>
</html>
