<!DOCTYPE html>
<html>
  {% extends "predictor/base.html" %}
  <head>
    <title>
      {% block title %} | Current Gameweek{% endblock %}
    </title>
  </head>
  <body>
    {% block content %}
      <div class="page-title">
        {{ current_gameweek_number }}
      </div>
      <hr/>
      {% if messages %}
        <div align="center">
          <ul class="messages">
              {% for message in messages %}
                <h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
              {% endfor %}
          </ul>
        </div><br/>
      {% endif %}
      <div align="center">
        <form method="POST" action=".">
          {% csrf_token %}
          {{ fs.management_form }}
          {% for form in fs %}
            {{ form.id }}
            {% with predictions_dict|get_item:form.id.value as prediction %}
              <div class="team-name team-name-home">
                {{ prediction.match.home_team }}
              </div>
              <div style="display:inline-block">
                {{ form.home_score }}
              </div>
              <div style="display:inline-block;">
                <a class="separator">-</a>
              </div>
              <div style="display:inline-block;">
                {{ form.away_score }}
              </div>
              <div class="team-name team-name-away">
                {{ prediction.match.away_team }}
              </div>
            {% endwith %}
            <br/><br/>
          {% endfor %}
          <button type="submit" class="button submit-button">Submit Predictions</button>
        </form>
        <!-- {% if show_status_message %}
          {% if save_success == True %}
            <a>Predictions successfully saved!</a>
          {% else %}
            <a>Something went wrong :(<a/><br/><br/>
            <a>Predictions were not saved. Please check your predictions and try again.</a>
          {% endif %}
        {% endif %} -->
      </div>
    {% endblock %}
  </body>
</html>
